.container {
    width: 100%;    
    margin: 10px calc(50% - 500px);
}


@media (max-width: 900px) {
    .container {
        width: 600px;
        margin: 0 calc(50% - 390px);
        margin-bottom: 10px;
    }
    .ads{
        display: none;
    }
    .testimonials {
        width: 600px;
    }
    .one {
        display: none;   
    }
    .seven {
        display: none;   
    }
}

@media (max-width: 700px) {
    .container 
    {
        width: 350px;
        margin: 0 calc(50% - 465px); 
    }
    .ads{
        display: none;
    }
    .testimonials {
        height: 386px;
        display: flex;
        flex-direction: column;
        justify-items: center;
        flex-wrap: nowrap;
        justify-content: space-around;
        align-items: center;
        width: 135%;
        margin: 10px 0;
    }
    .testimonials > * {
       margin:auto;
    }
    .freelance {
        width: 135%;
    }

    .one {
        display: none;   
    }
    .two {
        width: 50px;
    }
    .zero {
        width:60px;
    }
    .seven {
        display: flex;   
    }
    .footer {
        margin-top: 10px;
    }
}


